name: .NET Core - Coverlet - Local tool

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.x

    - name: Restore local tools
      run: dotnet tool restore

    - name: Build with dotnet
      run: dotnet build
      working-directory: BusinessTest_NetCore

    - name: Run tests with coverage
      run: dotnet test --no-build --collect:"XPlat Code Coverage"
      working-directory: BusinessTest_NetCore

    - name: Restore coverage history
      uses: dawidd6/action-download-artifact@v6
      with:
        name: CoverageHistory
        path: CoverageHistory
      continue-on-error: true

    - name: Create coverage report
      run: dotnet reportgenerator "-reports:*Test*/TestResults/*/coverage.cobertura.xml" "-targetdir:CoverageReports" "-historydir:CoverageHistory" "-reporttypes:Html;Cobertura;MarkdownSummaryGithub"

    - name: 'Publish coverage summary'
      run: cat CoverageReports/SummaryGithub.md >> $GITHUB_STEP_SUMMARY
      shell: bash

    - name: Upload coverage report
      uses: actions/upload-artifact@v4
      with:
        name: CoverageReports
        path: CoverageReports

    - name: Upload coverage history
      uses: actions/upload-artifact@v4
      with:
        name: CoverageHistory
        path: CoverageHistory